.acc-results-header.full-width {
  width: 100%;
  background-color: var(--background-light);
  padding: 1rem;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
}

.acc-results-header .results-header-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.acc-results-header .results-count {
  text-align: end;
  margin: 0;
  font-size: 1rem;
  color: var(--text-medium);
}

.acc-results-header .results-count strong {
  color: var(--primary-color);
  font-weight: 600;
}