.why-section {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}


/* Container for all feature cards */
.card-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}


/* feature card */
.feature-card {
    background-color: #ddd;
    padding: 2rem;
    border-radius: 2rem;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.icon-circle {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 0.95rem;
    color: #333;
    line-height: 1.5;
}


/* Responsive layout */
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}