.footer{
    background-color: #EFF0F2;
    margin-top: 5%;
}


/* Brand Description */
.footer-logo .logo-text{
    font-family: "DM Serif Display", serif;
    font-weight: 800 ;
    font-style: normal;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}


 /* About Us , Services , Contact Info */
.footer-section .header{
    color: #1084E3 !important;
    font-size: 25px;
    padding-bottom: 10px;
}

/* Contact Info */
.footer-section .social-media{
    color: #1084E3 !important;
    font-size: 25px;
    cursor: pointer;
}


/* For Responsive  */
@media (max-width: 750px) {
    .about , .services {
        display: none;
    }
}