/* Banner  */
 .hero-container {
     width: 100%;
     overflow: hidden;
 }

 .hero-image {
     width: 100%;
     height: auto;
     object-fit: cover;
 }

 .contact-section {
     background-color: white;
     padding: 4rem 1rem;
 }

 .contact-container {
     max-width: 72rem;
     margin: 0 auto;
     text-align: center;
 }



 /* Heading */
 .heading {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .contact-heading {
     padding: 10px 100px;
     margin-top: 100px;
     margin-bottom: 50px;
     width: fit-content;
     font-size: 35px;
     font-weight: bold;
     border-bottom: 4px solid var(--primary-color);
 }

 .contact-description {
     font-size: 1.125rem;
     color: #4b5563;
     margin-bottom: 2.5rem;
 }

 .contact-grid {
     display: grid;
     grid-template-columns: 1fr;
     gap: 2.5rem;
     text-align: left;
 }

 @media (min-width: 768px) {
     .contact-grid {
         grid-template-columns: 1fr 1fr;
     }
 }



 /* Contact Form and  Contact Info  */
 .contact-form,
 .contact-info {
    background-color: #ddd;
    padding: 4rem;
    border-radius: 2rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
 }

 .contact-form:hover,
 .contact-info:hover {
    transform: translateY(-5px);

 }


 .form-heading,
 .info-heading {
     font-size: 1.5rem;
     font-weight: 600;
     color: #1f2937;
     margin-bottom: 1rem;
 }

 .form-group {
     margin-bottom: 1rem;
 }

 .form-group label {
     display: block;
     margin-bottom: 0.5rem;
     font-weight: 500;
     color: #374151;
 }

 .form-group input,
 .form-group textarea {
     width: 100%;
     padding: 0.5rem 1rem;
     border: 1px solid #2e2e2f;
     border-radius: 0.375rem;
 }

 .submit-button {
     background-color: #2563eb;
     color: white;
     padding: 0.5rem 1.5rem;
     border: none;
     border-radius: 0.375rem;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .submit-button:hover {
     background-color: #1d4ed8;
 }

 .follow-heading {
     font-size: 1.25rem;
     font-weight: 600;
     margin-top: 1.5rem;
     margin-bottom: 0.5rem;
     color: #1f2937;
 }

 .social-links {
     display: flex;
     gap: 1rem;
     margin-top: 0.5rem;
 }

 .social-links a {
     color: #2563eb;
     transition: color 0.3s;
     text-decoration: none;
 }

 .social-links a:hover {
     color: #1e40af;
 }